.e{
    margin-top: 20px;

    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.chan{
    margin-left: 10px
}
.cha{
    margin-top: 20px;
    margin-left: 10px;
}
.in{
    text-align: center;
}
.ch{
    margin-left:40px;
    margin-top: 20px;
}
