.footer {
  font-size: 1.1rem !important;
  color: black;
}
.footer-section{
  background-color: #6b72a1;
  padding: auto;
}
.footer-nav-wrap a{
  color:black;
}
.footer-text{
font-size: 20px;

}

.footer-text{
  position: relative;
  left: 220px;
  
}

.mb-3{
  position: relative;
  left: 190px;
  color: white;
}
.col{
  color: white;
}
.mb-3.text-white{
  color: white;
  text-align: center;
}
.mb-2{
  text-align: center;
}
.footer-nav-wrap .text-white
{
  color: hsla(30, 59%, 45%, 0.902);
}
