.download-section {
  background-image: url('../../Asset/he.jpg');
  background-size: cover;
  background-position: left top ;
  background-repeat: no-repeat;
  width: 2000px;
  height: 450px;
 margin-top: 20px;}
   


/* .image-accordion {
    /* background-color: aliceblue; */
    /* position: relative; 
    left: 6rem;
    bottom: 4rem;
    height: 35rem;
    max-width: auto;
    background-image: url('../../Asset/he.jpg');
    background-size: 900px;
    background-position: center ;
    background-repeat: no-repeat;
    width: 700%;
    height: 400%;
  }  */ 
  
  @media (max-width: 1500px) {
    .image-accordion {
      left: 0rem;
      height: 30rem;
    }
  }
  
  @media (max-width: 1199px) {
    .image-accordion {
      bottom: 4rem;
      height: 26rem;
      right: 2rem;
    }
  }
  
  @media (max-width: 991px) {
    .image-accordion {
      bottom: 4rem;
      height: auto;
      width: 100%;
    }
  }
  .bb{
    border: 4px;
    position: absolute;
    right: 12px;

  }
  